body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  background-color: rebeccapurple;
  overflow-x: hidden;
}

.prjt1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.btn-pry {
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: rebeccapurple;
  box-shadow: 2px 3px 1px black;
}

.btn-pry:hover {
  background-color: white;
}
.container1 {
  position: fixed;
  bottom: 0;
  right: 10px;
}

.notification {
  background: white;
  padding: 10px 20px;
  margin: 4px;
  border-radius: 4px;
  border: none;
  color: rebeccapurple;
}

.pop-up {
  margin: 10px;
  position: relative;
  background-color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  color: rebeccapurple;
  display: none;
}

.pop-up.active {
  display: block;
}
#btn3 {
  position: absolute;
  top: 2px;
  right: 2px;
}

.love {
  height: 40vh;
  position: relative;
  overflow: hidden;
}
